[Unit]
Description=hercules mvs
After=multi-user.target

[Service]
Type=forking
ExecStart=/home/dan/.startup/controlmvs.sh start
ExecStop=/home/dan/.startup/controlmvs.sh stop
TimeoutStopSec=300
User=dan

[Install]
WantedBy=multi-user.target


